@model ForumSystem.Web.ViewModels.Categories.CategoryViewModel

@{
    this.ViewBag.Title = Model.Title;
}

<h3 class="display-2 font-weight-bolder text-center">@Model.Title</h3>



@if (Model.Posts.Count() == 0)
{
    <div class="alert alert-warning font-weight-bolder">
        There aren't any avaiable posts in our @Model.Title bulletin!
    </div>
    <div class="jumbotron">
        <hr class="my-4">
        <p>You may add new publication here!!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-controller="Posts" asp-action="AddPost" role="button">Add Post</a>
        </p>
    </div>
}
else
{
    @foreach (var post in Model.Posts)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@post.FixedTitle</h5>
                <br />
                <p class="card-text">@post.FixedContent</p>
                <br />
                <p class="card-text">@post.UserUsername</p>
                <a asp-controller="Comment" asp-action="AddComment" asp-route-title="@post.Title" class="btn btn-primary">Add Comment</a>
            </div>
        </div>
    }
    <p>You may add new publication here!!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-controller="Posts" asp-action="AddPost" role="button">Add Post</a>
    </p>
}

