@model ForumSystem.Web.ViewModels.Categories.CategoryViewModel

@{
    this.ViewBag.Title = Model.Title;
}

<h3 class="display-2 font-weight-bolder text-center">@Model.Title</h3>



@if (Model.Posts.Count() == 0)
{
    <div class="alert alert-warning font-weight-bolder">
        There aren't any avaiable posts in our @Model.Title bulletin!
    </div>
}
else
{
    @foreach (var post in Model.Posts)
    {

        <div class="media">
            <div class="media-body">
                <h5 class="mt-0">@post.Title</h5>
                @post.UserUsername
                <br />
                <br />
                @post.Contnet
                <br />
                <br />
                @post.CommentsCount
                <br />
                <br />
            </div>
        </div>
    }
}
