@model ForumSystem.Web.ViewModels.Home.IndexPageModel

<h2 class="text-center text-body">
    Welcom To Online newspaper
    <br />
    <br />
    <br />
</h2>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var category in Model.Categoreis)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@category.ImageUrl" alt="@category.Title">
            <div class="card-body">
                <h5 class="card-title">@category.Title</h5>
                <p class="card-text">@category.Title</p>
                <a asp-controller="Categories" asp-action="ByTitle" asp-route-title="@category.Title">@category.Title (@category.PostsCount)</a>
            </div>
        </div>
    }
</div>